[user]
	name = Motoki Seki
	email = marmot.motoki@gmail.com
[color]
	ui = true
	branch = auto
[credential]
	helper = osxkeychain
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/motoki/.gitignore_global
	diff = auto
	status = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
